N8N_HOST=0.0.0.0
N8N_PORT=5678
N8N_PROTOCOL=https
N8N_PROXY_HOPS=1
GENERIC_TIMEZONE=America/Sao_Paulo
N8N_EDITOR_BASE_URL=https://your-n8n.onrender.com
WEBHOOK_URL=https://your-n8n.onrender.com/

N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=

N8N_SECURE_COOKIE=false
N8N_ENCRYPTION_KEY=
EXECUTIONS_PROCESS=main
EXECUTIONS_DATA_SAVE_ON_SUCCESS=none
EXECUTIONS_DATA_SAVE_ON_ERROR=all
