# ==========================
# Environment files
# ==========================
.env
.env.*
!.env.example

# ==========================
# Node
# ==========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================
# Logs
# ==========================
logs
*.log

# ==========================
# OS files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Docker
# ==========================
docker-compose.override.yml

# ==========================
# n8n local data (se rodar local)
# ==========================
.n8n/